<% name = current_user.present? ? current_user.username : nil %>
<% if name %>
<div class='container'>
<div class='welcome-badge mb-5' style="width: 150px;">
<span class="badge rounded-pill bg-light text-dark ">Welcome, <%= name %></span>
</div>
</div>
<% else %>
<div style="margin-top: 2rem"></div>
<% end %>


<div class='container'>

<div class="row">
<% @articles.each do |article| %>
  <div class="col-sm-6">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title card-article-title"><%= article.title %></h5>
        <p class="card-text card-article-body"><%= article.body %></p>
      </div>

      <div><%= link_to 'Read More', article, class:'card-read-link' %></div>

    </div>
  </div>
  <% end %>
</div>



</div>