@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Nunito&display=swap");

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Nunito", sans-serif;
}

.notice-alert {
  color: rgb(99, 98, 98);
  text-align: center;
  margin-top: 2rem;
}

/* -------- index ----------------- */
@import url("./subSylesheets/index.css");

/* -------- Article Forms --------- */
@import url("./subSylesheets/articleForms.css");

/* -------- Show page --------- */
@import url("./subSylesheets/show.css");

/* -------- Auth pages --------- */
@import url("./subSylesheets/auth.css");

/* -------- Navbar --------- */
@import url("./subSylesheets/navbar.css");
