.notice-alert {
  color: rgb(99, 98, 98);
  text-align: center;
  margin-top: 2rem;
}

/* -------- index ----------------- */
@import url("./subSylesheets/index.css");

/* -------- Article Forms --------- */
@import url("./subSylesheets/articleForms.css");
